{
  "useTabs": false,
  "singleQuote": false,
  "trailingComma": "none",
  "svelteSortOrder": "options-scripts-styles-markup",
  "svelteStrictMode": true,
  "svelteAllowShorthand": true,
  "plugins": ["prettier-plugin-svelte"]
}
