@use "./utils/variables" as *;

// Note: this does not include the overrides for the .sidebar and .content classes

/* This prevents layout shift */
.bx--body--with-modal-open {
  overflow-y: scroll;
}

/* Reduce padding for small multiselect component (e.g. Model Dropdown) */
.multiselect-sm .bx--multi-select .bx--list-box__menu-item__option {
  margin: 0 0.2rem;

  .bx--checkbox-label-text {
    font-size: 0.7rem;
  }

  .bx--checkbox-label {
    padding-left: 1rem;
  }

  .bx--list-box__menu-item__option {
    margin: 0 5px;
    padding-right: 0;
  }
}

/* Change breadcrumb display from inline to flex for all breakpoints */
.bx--breadcrumb {
  display: flex;
}

/* Responsive Structured List */
@media (max-width: 700px) {
  .bx--structured-list-row {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;

    .bx--structured-list-td {
      padding: 0.25rem 1rem 0.25rem 0.5rem;
    }
  }
}

.bx--tooltip__trigger.bx--tooltip__trigger--definition {
  font-size: inherit;
}

/* Following should exist but dont get compiled with current scss setup (??) */
.bx--select__arrow {
  right: 1rem;
}

.bx--search--lg .bx--search-magnifier {
  left: 0.75rem;
}

.bx--search--xl .bx--search-input {
  padding: 0 3rem;
}

.bx--search--lg .bx--search-input {
  padding: 0 2.5rem;
}

.bx--search--sm .bx--search-input {
  padding: 0 2rem;
}

.bx--modal-header_heading {
  font-weight: 600;
}

.bx--modal-header {
  padding: 1rem;
  background: $gray-20;

  h3 {
    margin: 0;
  }
}

.bx--modal-content {
  padding: 1rem;
}
