// @import "carbon-components/scss/globals/scss/vendor/@carbon/themes/scss/themes.scss";

$feature-flags: (
  ui-shell: true,
  grid-columns-16: true
);

$css--font-face: true;
$css--helpers: true;
$css--body: true;
$css--use-layer: true;
$css--reset: true;
$css--default-type: true;
$css--plex: true;

// with the $css- flags above the following imports the global carbon styles
// it does not include the component styles which must be added separately
// see: https://github.com/carbon-design-system/carbon/blob/main/docs/guides/sass.md
@import "carbon-components/scss/globals/scss/css--reset";
@import "carbon-components/scss/globals/scss/css--font-face";
@import "carbon-components/scss/globals/scss/css--helpers";
@import "carbon-components/scss/globals/scss/css--body";
@import "carbon-components/scss/globals/grid/grid";
