@use "./variables" as *;

// Set Cal-Adapt color theme overrides. Based on:
// see: https://github.com/carbon-design-system/carbon-components-svelte/blob/master/css/g10.scss
@import "carbon-components/scss/globals/scss/vendor/@carbon/themes/scss";

$carbon--theme: $caladapt-carbon-theme;
@include carbon--theme();

$feature-flags: (
  ui-shell: true,
  grid-columns-16: true
);

$css--font-face: true;
$css--helpers: true;
$css--body: true;
$css--use-layer: true;
$css--reset: true;
$css--default-type: true;
$css--plex: true;

@import "carbon-components/scss/globals/scss/component-tokens";
@import "carbon-components/src/components/tag/tag";
@import "carbon-components/src/components/notification/inline-notification";
@import "carbon-components/src/components/notification/toast-notification";

// Using the $css-* flags above, the following @import the global carbon styles.
// This DOES NOT include the component styles which must be added separately.
// This helps reduce the Sass rebuild times when files in the src/styles dir are changed.
// See: https://github.com/carbon-design-system/carbon/blob/main/docs/guides/sass.md
@import "carbon-components/scss/globals/scss/css--reset";
@import "carbon-components/scss/globals/scss/css--font-face";
@import "carbon-components/scss/globals/scss/css--helpers";
@import "carbon-components/scss/globals/scss/css--body";
@import "carbon-components/scss/globals/grid/grid";

// Individual component style imports.
// Unlike the caladapt-website-2021 repo, import only the component styles that
// that we require.
@import "carbon-components/scss/components/search/search";
@import "carbon-components/scss/components/button/button";
@import "carbon-components/scss/components/text-input/text-input";
@import "carbon-components/scss/components/combo-box/combo-box";
