@use "./variables" as var;

$carbon--theme--caladapt: (
  interactive-01: var.$interactive-01,
  interactive-02: var.$interactive-02,
  interactive-03: var.$interactive-03,
  interactive-04: var.$interactive-04,
  ui-background: var.$ui-background,
  ui-01: var.$ui-01,
  ui-02: var.$ui-02,
  ui-03: var.$ui-03,
  ui-04: var.$ui-04,
  ui-05: var.$ui-05,
  text-01: var.$text-01,
  text-02: var.$text-02,
  text-03: var.$text-03,
  text-04: var.$text-04,
  icon-01: var.$icon-01,
  icon-02: var.$icon-02,
  icon-03: var.$icon-03,
  link-01: var.$link-01,
  link-02: var.$link-02,
  field-01: var.$field-01,
  field-02: var.$field-02,
  inverse-01: var.$inverse-01,
  inverse-02: var.$inverse-02,
  support-01: var.$support-01,
  support-02: var.$support-02,
  support-03: var.$support-03,
  support-04: var.$support-04,
  inverse-support-01: var.$inverse-support-01,
  inverse-support-02: var.$inverse-support-02,
  inverse-support-03: var.$inverse-support-03,
  inverse-support-04: var.$inverse-support-04,
  overlay-01: var.$overlay-01,
  focus: var.$focus,
  hover-primary: var.$hover-primary,
  active-primary: var.$active-primary,
  hover-primary-text: var.$hover-primary-text,
  hover-secondary: var.$hover-secondary,
  active-secondary: var.$active-secondary,
  hover-tertiary: var.$hover-tertiary,
  active-tertiary: var.$active-tertiary,
  hover-ui: var.$hover-ui,
  active-ui: var.$active-ui,
  selected-ui: var.$selected-ui,
  hover-selected-ui: var.$hover-selected-ui,
  hover-danger: var.$hover-danger,
  active-danger: var.$active-danger,
  hover-row: var.$hover-row,
  visited-link: var.$visited-link,
  disabled-01: var.$disabled-01,
  disabled-02: var.$disabled-02,
  disabled-03: var.$disabled-03,
  highlight: var.$highlight,
  skeleton-01: var.$skeleton-01,
  skeleton-02: var.$skeleton-02,
  active-01: var.$active-01,
  hover-field: var.$hover-field
);
