@use "carbon-components/scss/globals/scss/spacing" as spc;

// Cal-Adapt Colors
$white: #ffffff;
$black: #090f20;
$accent: #6be7ba;

$gray-10: #fafbfb;
$gray-20: #eaecee;
$gray-30: #bcc2c7;
$gray-40: #9fa6ac;
$gray-50: #838b92;
$gray-60: #697178;
$gray-70: #51585e;
$gray-80: #3b4045;
$gray-90: #26292c;
$gray-100: #121416;

$blue-40: #074e67;
$blue-50: #003850;
$blue-60: #002448;
$blue-70: #001440;

$teal-10: #cce4e4;
$teal-20: #9ac9ca;
$teal-30: #68aeb0;
$teal-40: #369396;
$teal-50: #1d8689;
$teal-60: #04797c;
$teal-70: #036063;
$teal-80: #02484a;
$teal-90: #013031;
$teal-100: #001818;

// Carbon theme colors for Cal-Adapt
$interactive-01: $teal-60;
$interactive-02: $blue-60;
$interactive-03: $teal-60;
$interactive-04: $teal-60;
$ui-01: $white;
$ui-02: $gray-10;
$ui-03: $gray-20;
$ui-04: $gray-50;
$ui-05: $gray-100;
$ui-background: rgba(250, 251, 251, 0.5);
$text-01: $gray-100;
$text-02: $gray-70;
$text-03: $gray-40;
$text-04: $white;
$icon-01: $gray-100;
$icon-02: $gray-70;
$icon-03: $white;
$link-01: #015afe;
$link-02: #0043ce;
$field-01: $white;
$field-02: $gray-10;
$inverse-01: $white;
$inverse-02: $gray-80;
$support-01: #df4759;
$support-02: #24a148;
$support-03: #fdd13a;
$support-04: $teal-60;
$inverse-support-01: #fb4b53;
$inverse-support-02: #3dbb61;
$inverse-support-03: #fdd13a;
$inverse-support-04: $teal-20;
$overlay-01: rgba(23, 23, 23, 0.5);
$hover-danger: #ba1b23;
$active-danger: #750e13;
$focus: $blue-60;
$hover-primary: $teal-70;
$active-primary: $teal-70;
$hover-primary-text: $gray-100;
$hover-secondary: $blue-50;
$active-secondary: $blue-70;
$hover-tertiary: $teal-60;
$active-tertiary: $teal-60;
$hover-ui: $gray-10;
$active-ui: $gray-30;
$selected-ui: $gray-20;
$hover-selected-ui: $gray-30;
$hover-row: $gray-10;
$visited-link: #8a3ffc;
$disabled-01: $white;
$disabled-02: $teal-20;
$disabled-03: $gray-70;
$highlight: #c9deff;
$skeleton-01: $gray-20;
$skeleton-02: $gray-30;
$active-01: $teal-60;
$hover-field: #e5e5e5;

// Box shadow
$box-shadow: 0 0.125rem 0.25rem rgba($black, 0.075);
$box-shadow-lift: 0 1rem 2.5rem fade-out($black, 0.9),
  0 0.5rem 1rem -0.75rem fade-out($black, 0.9);

// Border radius
$border-radius: 0.175rem;

// Text
$p-default-max-width: 75ch;
$p-lead-default-max-width: 55ch;

// Carbon design system spacing
// number corresponds to equivalent pixel units in rem
$spacing-1: spc.$spacing-4xs;
$spacing-2: spc.$spacing-3xs;
$spacing-4: spc.$spacing-2xs;
$spacing-8: spc.$spacing-xs;
$spacing-12: spc.$spacing-sm;
$spacing-16: spc.$spacing-md;
$spacing-24: spc.$spacing-lg;
$spacing-32: spc.$spacing-xl;
$spacing-40: spc.$spacing-2xl;
$spacing-48: spc.$spacing-3xl;
$spacing-64: spc.$layout-lg;
$spacing-96: spc.$layout-xl;
$spacing-160: spc.$layout-2xl;
